

.card{
    background-color:brown;
    
}

.section{
    margin-top: 50px    ;
}
.h1 {
    font-size: 5px;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: underline;
    margin-top: 100px;

}

.h2{
    font-size: 5px;
}

.market {
    margin-top: 40px;
    border-radius: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    justify-content: center;
    align-items: center;
    margin-left: 250px;
}

.carousel-item active{
     display: flex;
     justify-content: center;
}